
@{
    ViewBag.Title = "ForgotPasswrod";
}

<div class="row">
    <div class="col-xs-1 col-sm-8  col-md-6 col-lg-4 mx-auto">
        <div class="card-body">

            @using (@Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "loginfrm", role = "form", @class = "form-horizontal ecom-login" })) {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.AntiForgeryToken()


                <div class="form-group form-float position-relative">
                    <div class="form-line">
                        <input type="email" name="email" class="form-control" placeholder="Enter Your Email"/>
                    </div>
                    @if (!String.IsNullOrEmpty(ViewBag.emailError1)) {
                        <br />
                        <label style="color:darkred">@ViewBag.emailError1</label>
                    }
                </div>

                <input type="hidden" name="Action" value="00" />
                <button type="submit" id="submito" class="btn btn-primary btn-block btn-lg">Request Password Reset</button>

            }

        </div>
    </div>
</div>
