@model string

<div class="py-md-5 py-4 border-bottom" style="background-color:rgba(255,255,255,0.9) !important">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-md-4 order-md-2 mb-2 mb-md-0 align-items-center text-center">
                <a class="navbar-brand " href="/Home" style="color: #00b8d4;"><img src="~/images/icon.png" alt="" width="42" height="36" style="margin-top: -2%;"> ODFA @Model<span style="color: #97adb4;">Online Doctors FollowUp Application</span></a>
            </div>
            <div class="col-md-4 order-md-1 d-flex topper mb-md-0 mb-2 align-items-center text-md-right">
                <div class="icon d-flex justify-content-center align-items-center order-md-last">
                    <span class="icon-map"></span>
                </div>
                <div class="pr-md-4 pl-md-0 pl-3 text">
                    <p class="con"><span>Free Call</span> <span>+9233512345466</span></p>
                    <p class="con" style="color:rgba(0,0,0,0.7)">SZABIST, Block 5 Clifton, Karachi City, Sindh 75600</p>
                </div>
            </div>
            <div class="col-md-4 order-md-3 d-flex topper mb-md-0 align-items-center">
                <div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                <div class="text pl-3 pl-md-3">
                    <p class="hr"><span>Open Hours</span></p>
                    <p class="time" style="color:rgba(0,0,0,0.7)"><span>Mon - Sat:</span> <span>8:00am - 9:00pm</span> Sun: Closed</p>
                </div>
            </div>
        </div>
    </div>
</div>
